@layout BlazorApp12.Components.Layout.EmptyLayout
@page "/login"
@using MudBlazor

<MudGrid Class="mud-height-full mud-width-full"
         Spacing="0"                  
         AlignItems="Stretch"           
         Style="
            position:fixed; inset:0;
            width:100vw; height:100vh;
            border-radius:10px;
            overflow:hidden; background:#fff;
         ">

    <!-- ستون خاکستری -->
    <MudItem xs="12" sm="3" md="2" lg="2" xl="2"
             Style="padding:0; margin:0; height:100vh; display:flex;">
        <MudPaper Class="mud-width-full" Elevation="1"
                  Style="background:#f3f3f3; flex:1; margin:0;" />
    </MudItem>

    <!-- ستون سفید -->
    <MudItem xs="0" sm="6" md="7" lg="7" xl="7"
             Style="padding:0; margin:0; height:100vh; display:flex;">
        <MudPaper Class="mud-width-full" Elevation="0"
                  Style="background:#fff; flex:1; margin:0;" />
    </MudItem>

    <!-- ستون زرد -->
    <MudItem xs="12" sm="3" md="3" lg="3" xl="3"
             Class="d-flex align-center justify-center"
             Style="padding:0; margin:0; height:100vh;">
        <MudPaper Elevation="4"
                  Class="d-flex align-center justify-center"
                  Style="
                     width:88%; height:93%;
                     background:#ffe680;
                     border-radius:38px;
                     box-shadow:0 4px 16px #e8d98170;
                  ">
        </MudPaper>
    </MudItem>

    <!-- باکس لاگین -->
    <div style="
         position:fixed;
         left:calc(14vw - 100px);
         bottom:40px;
         z-index:5;">
        <LoginBox />
    </div>
</MudGrid>
