<!-- BlazorApp12/Components/Layout/EmptyLayout.razor -->
@inherits LayoutComponentBase

<HeadContent>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="Dashboard.css" />
    <link rel="stylesheet" href="_content/MudBlazor/MudBlazor.min.css" />
</HeadContent>

<div>
    @Body
</div>
