@using MudBlazor          <!-- اطمینان از در دسترس بودن کامپوننت‌ها -->
@using static Microsoft.AspNetCore.Components.Web.RenderMode

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- ➊ فراگیرهای پایهٔ HTML -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    <!-- ➋ استایل‌های MudBlazor و سایر CSS‌ها -->
    <link rel="stylesheet" href="_content/MudBlazor/MudBlazor.min.css" />
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["BlazorApp12.styles.css"]" />
    <link rel="stylesheet" href="css/login.css" />
    <link rel="stylesheet" href="css//DynamicTable.css"/>
    <link rel="stylesheet" href="app.min.css" />
    <link rel="stylesheet" href="~/app.css" />
    <link rel="stylesheet" href="css/TaskManageMent/TaskManagement.css" />
    <link rel="stylesheet" href="css/ActionManageMent/ActionManageMent.css"/>


    <!-- ➌ سایر وابستگی‌ها -->
    <ImportMap />`
    <link rel="icon" type="image/png" href="favicon.png" />

    <!-- ➍ تجهیز تگ <head> برای کامپوننت‌های Blazor -->
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <!-- ➎ Providerهای MudBlazor (همه self‑closing هستند) -->
    <MudThemeProvider />      @* تزریق متغیرهای CSS *@
    <MudDialogProvider />     @* دیالوگ *@
    <MudSnackbarProvider />   @* Snackbar *@

    <!-- ➏ رندر مسیرها و صفحات -->
    <Routes @rendermode="InteractiveServer" />

    <!-- ➐ اسکریپت‌ها -->
    <script src="_content/MudBlazor/MudBlazor.min.js" type="module"></script>
    <script src="_framework/blazor.web.js"></script>

    <script src="_content/ChartJs.Blazor.Fork/ChartJsBlazorInterop.js"></script>
    <script src="_content/ChartJs.Blazor.Fork/chart.js/Chart.min.js"></script>

    <script>
        window.setIndeterminate = function (elem, value) {
          if (elem) elem.indeterminate = !!value;
        };
    </script>
    <script src="js/taskOverlay.js"></script>


</body>
</html>