.contents {
  display: contents;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

html, body, #app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

.root-layout {
  min-height: 100dvh;
  overflow-y: auto;
  overflow-x: hidden;
}

.mud-layout,
.mud-main-content {
  min-height: 0 !important;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}
